* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.sidebar {
  height: 80vh;
  width: 250px;
  background-color: #000000;
  color: white;
  padding: 1rem;
  z-index: 2;
}
.side-footer {
  height: 10vh;
  width: 250px;
  background-color: #000000;
  color: white;
  padding: 1rem;
  z-index: 2;
  text-align: center;
}
hr {
  margin: 1rem 0;
  border-radius: 20%;
}
.main-window {
  position: absolute;
  top: 10vh;
  left: 250px;
  height: 80vh;
  width: calc(100% - 250px);
  background-color: #151922;
  color: white;
  float: right;
  text-align: center;
}
.music-player {
  width: 100vw;
  height: 10vh;
  background-color: #282828;
  color: white;
  position: fixed;
  z-index: 3;
}
.top-bar {
  height: 10vh;
  width: calc(100% - 250px);
  left: 250px;
  background-color: #000000;
  color: white;
  line-height: 10vh;
  position: fixed;
  z-index: 1;
  padding: 1rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo {
  width: 70%;
  margin: 0 15%;
}
.button-1 {
  background-color: transparent;
  float: right;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 1s;
}
.button-1:hover {
  background-color: white;
  color: black;
  transform: scale(1.2);
}
li {
 list-style-type: none;
}
li.playlist {
  color: white;
  font-size: 16px;
  padding: 1rem;
  line-height: 35px;
}
a {
  text-decoration: none;
}
a.sidebarnav {
  color: white;
  opacity: 0.6;
  font-size: 16px;
  padding-left: 1rem;
  line-height: 35px;
}
a.sidebarnav:hover {
  font-size: 25px;
  opacity: 1;
  border-left: 4px solid chartreuse;
}
.side-menu {
  padding: 2rem 0;
}
img.icons {
  width: 2rem;
  vertical-align: middle;
}
i.fa {
  vertical-align: middle;
}
p.opacity-sm {
  font-size: 12px;
  opacity: 0.6;
}
p.opacity-sm:hover {
  opacity: 1;
  transform: scale(1.2);
}
a.footer-link {
  color: white;
  opacity: 0.6;
}
.fa-user {
  border: 1px solid white;
  padding: 3px 6px;
  border-radius: 50%;
  opacity: 0.6;
}
.main-menu{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:space-around;
  text-align: center;
}
.main-menu li{
  display: inline-block;
  margin: 10px;
  padding-top: 10px;
}
main-menu li .button-main-menu{
  text-decoration: none;
}
.main-navbar-item {
  color: white;
  opacity: 0.6;
}
.main-navbar-item:hover {
  opacity: 1;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid chartreuse;
}
.slidecontainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:space-between;
  text-align: center;
  margin: 2vh;
}
.brano {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:space-around;
  text-align: center;
  width: 250px;
}
.imgbrano {
  height: 6vh;
  width: 6vh;
}
.name-song-active {
  font-size: 12px;
}
.icons-song-active {
  opacity: 0.6;
  padding: 0 1rem;
}
.icons-song-active:hover {
  opacity: 1;
  transform: scale(1.5);
  cursor: pointer;
}
.volume-bar {
  width: 400px;
  height: 3px;
  opacity: 0.6;
}
.volume-bar:hover {
  width: 400px;
  height: 3px;
  opacity: 1;
}
.volume-bar-2 {
  width: 100px;
  height: 3px;
  opacity: 0.6;
}
.volume-bar-2:hover {
  width: 100px;
  height: 3px;
  opacity: 1;
}
