* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.sidebar {
  height: 90vh;
  width: 15vw;
  background-color: #000000;
  color: white;
  padding: 1rem;
  z-index: 2;
}
.main-window {
  position: absolute;
  top: 10vh;
  left: 15vw;
  width: 85vw;
  height: 80vh;
  background-color: #151922;
  color: white;
}
.music-player {
  width: 100vw;
  height: 10vh;
  background-color: #282828;
  color: white;
  position: fixed;
  z-index: 3;
}
.top-bar {
  height: 10vh;
  width: 85vw;
  left: 15vw;
  background-color: #000000;
  color: white;
  line-height: 10vh;
  position: fixed;
  z-index: 1;
  padding: 1rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo {
  width: 70%;
  margin: 0 15%;
}
.button-1 {
  background-color: transparent;
  float: right;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 1s;
}
.button-1:hover {
  background-color: white;
  color: black;
  transform: scale(1.2);
}
li {
 list-style-type: none;
}
li.playlist {
  color: white;
  font-size: 20px;
  padding: 1rem;
  line-height: 35px;
}
a {
  text-decoration: none;
}
a.sidebarnav {
  color: white;
  opacity: 0.6;
  font-size: 20px;
  padding-left: 1rem;
  line-height: 35px;
}
a.sidebarnav:hover {
  font-size: 25px;
  opacity: 1;
  border-left: 4px solid chartreuse;
}
.side-menu {
  padding: 2rem 0;
}
img.icons {
  width: 2rem;
  vertical-align: middle;
}
i.fa {
  vertical-align: middle;
}
